<nav class="container d-flex">
    <div class=" mt-1">
        <div class="p-2 fw-bold">SteadySteps</div>
    </div>
    <div class="ms-auto p-2 ">
        <button id="add-habit" type="button" class="btn btn-outline-dark my-auto" data-bs-toggle="modal"
            data-bs-target="#create-habit-modal">
            + New Habit
        </button>
    </div>
</nav>