<!-- List down habits-->
<!-- Create new Habit -->

<!-- tableHeader -->
<!-- habit -->
<!-- Create new Habit -->

<!-- Variables to be provided -->
<!-- habits -->
<!-- month:days -->
<%- include('_navbar') %>
    <link rel="stylesheet" href="/css/home.css">
    </link>
    <main>




        <div id="calendar" class="container-fluid">
            <div id="calender-header" class="col-6 col-md-3 mx-auto  d-flex justify-content-center">
                <div id="prevButton" class="cursor-pointer fs-5"> <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div id="header-title"></div>
                <div id="nextButton" class="cursor-pointer fs-5"><i class="fa-solid fa-chevron-right"></i></div>
            </div>
            <div id="calendar-body" class="table-responsive ">
                <table id="calender-table" class=" table-bordered mx-auto">
                    <thead>

                    </thead>
                    <tbody>





                    </tbody>
                </table>
            </div>
        </div>



    </main>

    <%-include('_createHabit') %>

        <script type="application/javascript" src="/js/setTableHeader.js"></script>
        <script type="application/javascript" src="/js/createHabit.js"></script>
        <script type="application/javascript" src="/js/addCellListners.js"></script>