.table-responsive {
  overflow-x: auto;
}
table {
  /* display: none !important; */
}
th {
  width: 2.2vw !important;
  font-weight: 500;
  color: black;
  font-size: 0.9rem;
  padding: 5px;
  background-color: rgb(242, 206, 206);
  text-align: center;
}

td {
  text-align: center;
  width: 2.2vw !important;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  transition: all 0.3s;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

.cursor-pointer {
  cursor: pointer;
}

.habit-done {
  background-color: lightgreen;
}

.habit-not-done {
  background-color: lightcoral;
}
